<section class="footer">
  <h2 class="visually-hidden">Информация о разработчиках и продукте</h2>
  <footer class="page-footer">
    <div class="footer-container">
      <p class="footer-text">© 2021 | All Rights Reserved |</p>
      <p class="footer-text">Developed with<span class="">
        <svg class="icon-heart" aria-label="heart">
          <use href="./images/symbol-defs.svg#icon-heart"></use>
        </svg>
      </span>
      <span>by</span>
      <button id="footerBtn"><u>GoIT Students</u></button> </p>
      <div id="myModal" class="modalFooter">
            <div class="modal-content">
             <section class="modal__content__footer">
               <h3 class="visually-hidden">Life code - команда разработчиков этого продукта</h3>
                  <span class="close">&times;</span>
                  <p class="team-name">Life code</p>
                  
                  <ul class="team-container">
                  <li class="team-item">
                    <a href="https://github.com/YuriiLukianovych" target="_blank" class="team-cell">
                      <img src="images/lead.jpg" class="team-cell-top" alt="team-member"/>
                      <p class="team-cell-name">
                        Юрий <br />
                        Лукьянович
                      </p>
                    </a>
                  </li>
                  <li class="team-item">
                    <a href="https://github.com/Elena-86" target="_blank" class="team-cell">
                      <img src="images/scrum.jpg" class="team-cell-top" alt="team-member" />
                      <p class="team-cell-name">
                        Елена <br />
                        Тютюнник
                      </p>
                    </a>
                  </li>
                  <li class="team-item">
                    <a href="https://github.com/FortizFil" target="_blank" class="team-cell">
                      <img src="images/dev1.jpg" class="team-cell-top" alt="team-member" />
                      <p class="team-cell-name">
                        Виталий <br />
                        Фильченко
                      </p>
                    </a>
                  </li>
                  <li class="team-item">
                    <a href="https://github.com/KatyaReshetilo" target="_blank" class="team-cell">
                      <img src="images/dev2.jpg" class="team-cell-top" alt="team-member" />
                      <p class="team-cell-name">
                        Екатерина <br />
                        Решетило
                      </p>
                    </a>
                  </li>
                  <li class="team-item">
                    <a href="https://github.com/ElenaIvanova28" target="_blank" class="team-cell">
                      <img src="images/dev3.jpg" class="team-cell-top" alt="team-member" />
                      <p class="team-cell-name">
                        Елена<br />
                        Иванова
                      </p>
                    </a>
                  </li>
                  <li class="team-item">
                    <a href="https://github.com/OlexandraTsys" target="_blank" class="team-cell">
                      <img src="images/dev4.jpg" class="team-cell-top" alt="team-member" />
                      <p class="team-cell-name">
                        Александра <br />
                        Цысь
                      </p>
                    </a>
                  </li>
                </ul>
              </section>
            </div>
          



        </div>
      </div>
   
    </div>
  </footer>
</section>