.footer {
  padding-top: 29px;
  padding-bottom: 29px;
  background-color: #f7f7f7;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 28px;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 28px;
  }
}
.page-footer {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.footer-text {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  color: #545454;
}
@media screen and (min-width: 768px) {
  .footer-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.2;
  }
}
.icon-heart {
  display: inline-block;
  width: 14px;
  height: 13px;
  margin-left: 10px;
  margin-right: 10px;
}
#footerBtn {
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  padding: 0;
  color: #545454;
  border: none;
  background-color: #f7f7f7;
  cursor: pointer;
}
#footerBtn:hover,
#footerBtn:focus {
  color: #ff6b08;
}

// modal footer //

.modalFooter {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  position: absolute;
  display: block;
  background-color: #fff;
  padding: 30px;
  width: 882px;
  max-height: 568px;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
  padding-bottom: 18px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  left: 50%;
  top: 15px;
  transform: scale(1) translate(-50%, 10%);

  @media screen and (max-width: 1023px) {
    width: 618px;
    height: 562px;
  }
  @media screen and (max-width: 767px) {
    width: 280px;
    height: 968px;
  }
}

.close {
  // display: inline;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  &:hover {
    cursor: pointer;
    box-shadow: 0 0 2px 1px #000;
    color: #fff;
    // background-color: #ff6b08;
    background-color: #aaa;
  }
}

.team-name {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 0;
  font-size: 3rem;
  font-weight: 600;
  color: #ff6b08;
  line-height: 1.25;
  box-sizing: border-box;
}

.team-container {
  display: grid;
  width: 100%;
  padding: 0 15px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 15px;
  grid-column-gap: 30px;

  @media screen and (max-width: 767px) {
    display: block;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    display: grid;
    width: 100%;
    padding: 0 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 10px;
  }
}

.team-cell,
.team-cell:visited {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: #454545;
}
.team-cell:hover .team-cell-top {
  transform: scale(1.01);
  box-shadow: 2px 2px 6px 0px #9f9f9f;
}
.team-cell:hover .team-cell-name {
  text-shadow: 0px 0px 1px #9f9f9f;
}
.team-cell-top {
  width: 78px;
  min-height: 78px;
  border-radius: 50%;
  margin-bottom: 15px;
  overflow: hidden;
}
.team-cell-name {
  text-align: center;
  text-decoration: none;
}
.team-cell-name:hover {
  color: #ff6b08;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}
