.movies {
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .movies__item:not(:last-child) {
    margin-bottom: 20px;
  }
  .movies {
    width: 280px;
  }

  .moviest__img {
    width: 280px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .movies-container {
    width: 618px;
    margin: 0 auto;
  }
  .movies {
    display: flex;
    flex-wrap: wrap;

    margin-left: -30px;
    margin-top: -30px;
  }

  .movies__item {
    // width: 293px;
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .movies-container {
    width: 882px;
    margin: 0 auto;
  }
  .movies {
    display: flex;
    flex-wrap: wrap;

    margin-left: -30px;
    margin-top: -30px;
  }

  .movies__item {
    // width: 274px;
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;

    transition-property: transform;
    transition-duration: 500ms;

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }

    &:focus {
      cursor: pointer;
      transform: scale(1.1);
      transition-property: transform;
      transition-duration: 500ms;
      box-shadow: 3px -31px 66px -33px;
    }
  }
}
