#scrollTop {
  position: fixed;
  top: 1px;
  // right: 20px;
  font-size: 40px;
  z-index: 99;
  color: #ff6b01;
  cursor: pointer;
}

.isShowBtn {
  opacity: 0.8;
  transition: 0.4s;

  &_show {
    opacity: 0;
  }
}
.scroll-container {
  position: relative;
  background-color: red;
  height: 50px;
  margin: 0 auto;
  width: 320px;
  @media screen and(min-width: 768px) and (max-width: 1023px) {
    width: 768px;
  }
  @media screen and(min-width: 1024px) {
    width: 1024px;
  }
}
